<launch>
  <!-- base driver -->
  <include file="$(find ucar_controller)/launch/base_driver.launch">
  </include>
  <!-- lidar driver -->
  <include file="$(find ydlidar)/launch/ydlidar.launch"/>
  <!-- cartographer launch -->
  <include file="$(find ucar_map)/launch/cartographer_start.launch"/>
  <node name="joy_controller" pkg="ucar_navigation" type="MYSBC.py" output="screen"/>
  <node name="joy_node" pkg="joy" type="joy_node" output="screen"/>
</launch>
