<launch>
    <node name="controller" pkg="navigation_test" type="navigation_test.py"/>
    <include file="$(find ucar_nav)/launch/ucar_navigation.launch"/>


    <!-- <include file="$(find speech_command)/launch/speech_command.launch"/> -->
    <include file="$(find rknn_ros)/launch/rknn.launch"/>




    <node name="visual_nav" pkg="visual_navigation" type="visual_navigation" output="screen" >
        <param name="highthreshold" value="95" />
        <param name="lowthreshold" value="50" />
        <param name="vel_max_" value="0.7" />     <!-- max speed -->
        <param name="acceleration_" value="0.035" />   <!-- acceleration per loop -->
        <param name="vel_start_" value="0.05" />  <!-- start speed -->
        <param name="KP" value="11.0" />
        <param name="KI" value="0.0" />
        <param name="KD" value="70.0" />
        <param name="VIDEO_OPEN_" value="true" />
        <param name="video_path" value="/home/ucar/Videos/" />
    </node> 
</launch>