
<launch>
    <include file="$(find ucar_controller)/launch/base_driver.launch" > </include>

    <include file="$(find ydlidar)/launch/ydlidar.launch" > </include>


    <node name="visual_nav" pkg="visual_navigation" type="visual_navigation" output="screen"  >
        <param name="highthreshold" value="95" />
        <param name="lowthreshold" value="50" />
        <param name="vel_max_" value="0.65" />
        <param name="acceleration_" value="0.05" />
        <param name="vel_start_" value="0.2" />
        <param name="KP" value="21" />
        <param name="KI" value="0" />
        <param name="KD" value="65.0" />
        <param name="VIDEO_OPEN_" value="true" />
        <param name="video_path" value="/home/ucar/Videos/" />
        <param name="Avoid_Dist" value="0.45" /> 
        <param name="Trace_edge" value="3" />
        <param name="Debug" value="true" />
    </node> 
</launch>


<!-- 备选一 -->
        <!-- <param name="KP" value="21" />
        <param name="KI" value="0" />
        <param name="KD" value="65.0" /> -->

<!-- 备选二 -->
        <!-- <param name="KP" value="9" />
        <param name="KI" value="0.2" />
        <param name="KD" value="65.0" /> -->
